@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress-animation-slider {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleY(1);
    }
}

@font-face {
    font-family: 'Tektur';
    src: url('/fonts/Tektur-VariableFont.woff2') format('woff2'),
        url('/fonts/Tektur-VariableFont.woff') format('woff'),
        url('/fonts/Tektur-VariableFont.ttf') format('truetype');
    font-display: swap;
}

.anime-page-image {
    view-transition-name: meow-image;
}
